@import "rightsidebar.css";
@import url('left-sidebar.css');
@import "home.css";
:root{
    ---gray: rgb(32, 35, 39);
    ---white: #fefefe;
    ---logo: #fefefe;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: var(---gray);
}
