@import "rightsidebar.css";
@import url('left-sidebar.css');
@import "home.css";
:root{
    ---gray: #15202B;
    ---white: #fefefe;
    ---logo: #fefefe;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: var(---gray);
}
.sim {
    display: flex;
    justify-content: space-between;
}
.sim .leftbar{
    width: 300px;
    padding: 20px;
}
.sim .rightbar{
    padding: 20px;
}