@import "rightsidebar.css";
@import "left-sidebar.css";
@import "home.css";
@import "tweet.css";
@import "explore.css";
@import "profile.css";
@import "notification.css";
@import "register.css";

@import "forget_password.css";
@import "logout.css";
@import "profile_edit_modal.css";
@import "message.css";

:root{
    ---gray: #15202B;
    ---white: #fefefe;
    ---logo: #fefefe;
    ---blue: rgb(29, 155, 240);
}

* {
    padding: 0;
    margin: 0;
    color: var(---white);
}

body {
    background: var(---gray);
}

.sim {
    display: flex;
    justify-content: space-between;
}

.sim .leftbar{
    width: 300px;
    padding: 20px;
}

.sim .rightbar{
    padding: 20px;
}